.home-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 11px;
    margin-top: 22px;
}

.tshirt-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
}